/* DARK THEME */
html,
body {
  margin: 0;
  padding: 0;
  background-color: #0b0b0b !important;
  color: #ffffff !important;
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(180deg, #0b0b0b 0%, #050505 100%) !important;
}


body {
  padding-top: 80px;
}

/* Style for button in home  */
/* GLOW BUTTON */
.glow-btn {
  background: #00f5d4 !important;
  color: black !important;
  padding: 12px 28px;
  border-radius: 50px;
  border: none;
  box-shadow: 0 0 20px #00f5d4;
  transition: 0.5s ease;
  font-weight: 600;
}

.glow-btn:hover {
  transform: scale(1.1);
}